spring:
  application:
    name: "Snowflake ID Generator"

snowflake-settings:
  starting-epoch: ${STARTING_EPOCH:946684800}
  datacenter-id: ${DATACENTER_ID:1}
  worked-id: ${WORKED_ID:1}

management:
  endpoints:
    web:
      base-path: /management
      path-mapping:
        health: health
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
      show-components: always
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
